*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.icon{
    height: 100px;
    width: 100px;
    
}
.icon .size{
    font-size: 70px;
    padding-top: 40%;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.graph{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

